* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  width: 100%;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.account-info {
  font-size: 1em;
}

.app-body {
  display: flex;
  flex: 1;
  margin-top: 60px; /* Ensure content is below the fixed header */
}

.sidebar {
  width: 200px;
  background-color: #03045e;
  color:#fff;
  border-right: 1px solid #ddd;
  z-index: 1;
  position: fixed;
  top: 60px; /* Ensure the sidebar starts right below the header */
  bottom: 0;
  overflow-y: auto;
  left: 0;
  padding-top: 0;
}

.main-content {
  margin-left: 200px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sub-header {
  padding: 20px 20px; /* Increase padding for more height */
  border-bottom: 1px solid #ddd;
  background-color: #ffffff; /* Change background to white */
}

.sub-header h2 {
  margin: 0;
  font-size: 1.5em;
}

.content {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
}
